* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-style: normal;
  
}


.container {
    width: 1280px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #002060;
    /* box-shadow: 0px 0px 20px 0px black; */
    width: 100%;
}
.header-logo {
    display: flex;
    left: 0;
}
.logo img{
    display: block;
    height: 50px;
    left: 0;
    margin-top: 10px;
    margin-left: 30px;
}
.header-con {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    min-width: 1280px;
    height: 70px;
}

.menu {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    height: 70px;
    margin-left: 70px;
}

.menu li {
    margin: auto 0;
    margin-left: 50px;
}

.menu li a {
    display: block;
    /* text-align: center; */
    padding: auto;
    text-decoration: none;
    transition: .5s;
    color: white;
    font-size: 20px;
    
}
.menu li a:hover{
    color: orange;
}

.Tracking {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    height: 70px;
    margin-left: 50px;
}

.Tracking li {
    margin: auto 0;
    width: 100%;
    background-color: orange;
}

.Tracking li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem;
    color: #002060;
    font-size: 20px;
}

.Tracking li a:hover{
    color: white;
}


.language {
    margin: auto 0;
    display: flex;
    flex-direction: row;
}
.menu-Greenlogis {
    float: left;
    margin-left: 50px;
}
.menu-Greenlogis img {
    display: block;
    margin: 15px 0;
    height: 40px;

}
.language-con{
    float: left;
    margin: auto 0;
    margin-left: 50px;
}
.language-menu{
    display: block;
    margin: 20px 0;
    background-color: white;
    border-radius: 100%;
    width: 30px;
    height: 30px;
}
.language-menu img{
    display: block;
    height: 30px;
}
.submenu-language{
    
}
.box-submenu-language {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px black;
    background-color: #f9f9f9;
    width: 100px;
    color: #002060;
}
.language-con:hover .box-submenu-language{
    display: block ;
}
.list-language {
    padding: 5px;
}
.list-language a{
    text-decoration: none;
    color: #002060;
}
.list-language:hover {
    background-color: orange;
}
.nav-bar {
    height: 70px;
    padding-top: 15px;
    right: 15px;
    display: none;
    position: absolute;
}
.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}
.nav-menu-open {
    margin-top: 70px;
    display: none;
    background-color: white;
    position: absolute;
    right: 0;
    box-shadow: 0px 8px 16px 0px black;
}
.list-nav-menu{
    padding: 5px 15px;
}
.list-nav-menu a{
    text-decoration: none;
    font-size: 20px;
    color: #002060;
}
.list-nav-menu:hover {
    background-color: #002060;
}
.list-nav-menu:hover a{
    color: white;
}
.nav-menu:hover .nav-menu-open {
    display: block;
}

@media screen and (max-width: 1280px) {
    .menu, .language, .Tracking {
        display: none;
    }
    .nav-bar {
        display: block;
    }
}


/* Slide*/
.content-top{
    padding: 0;
    margin: 0;
    margin-top: 70px;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: orange; */
}
.section{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    margin-top: 2rem;
}
.slider{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.slide{
    width: 300%;
    height: 600px;
    display: flex;
}
.slide input{
    display: none;
}
.st{
    width: 33.3333333%;
    transition: 2s;

}
.slider-background {
    width: 100%;
    height: 600px;
    background-size: cover;
} 
.slider1 {
    background-image: url('imge/เศรษฐกิจผันผวน\ 1.jpg');
}
.slider2 {
    background-image: url('imge/logistics1.avif');
}  
.slider3 {
    background-image: url('imge/การจัดส่ง2.avif');
}  
.textslide-con {
    height: 600px;
}
.textslide { 
    padding: 200px 50px;
}
.textslide .text{ 
    font-size: 50px;
    color: white;
    /* backdrop-filter: blur(15px); */
}
.st img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    opacity: 0.1;

}
.nav-m{
    position: absolute;
    width: 100%;
    margin-top: -40px;
    justify-content: center;
    display: flex;
}
.m-btn{
    border: 2px solid orange;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;   
}
.m-btn:not(:last-child){
    margin-right: 30px;
}
.m-btn:hover{
    background-color: white;
}
#radio1:checked ~.first{
    margin-left: 0;
}
#radio2:checked ~.first{
    margin-left: -33.33%;
}
#radio3:checked ~.first{
    margin-left: -66.66%;
}

.nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 345px;
    display: flex;
    justify-content: center;
}
.nav-auto div{
    border: 2px solid rgba(255, 166, 0, 0);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.nav-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}
#radio:checked ~ .nav-auto .a-b1{
    background-color: #002060;
}
#radio:checked ~ .nav-auto .a-b2{
    background-color: #002060;
}
#radio:checked ~ .nav-auto .a-b3{
    background-color: #002060;
}

/*content-about*/
.content-about-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 700px;
}
.about-imge {
    display: block;
    margin: auto;
}
.about-imge img{
    width: 100%;
    max-height: 600px ;
}
.about-article {
    margin: auto 20px;
}
.about-con {
    padding: 100px 0;
}
.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin: 50px auto;
}
.about-grid-box {
    margin: 20px 0;
    height: 30px;
}
.about-grid-box a {
    font-size: 25px;
    text-align: center;
    color: #002060;
    text-decoration: none;
    margin: auto 0;
}
.about-grid-box a:hover {
    color: orange;
    font-size: 26px;
}
.about-grid-box p {
    text-align: center;
}
.whyfastlanes {
    display: block;
    height: 700px;
    padding: auto 0;
}
.why-box {
    display: flex;
    list-style-type: none;
    flex-direction: column;
}
.why-about-con {
    display: block;
    margin: 0 auto;
}
.why-about{
    display: flex;
    flex-direction: row;
    margin: 15px 0;
}
.why-img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.whytext {
    margin: auto 0;
    margin-left: 30px;
}
.whytext .headtext {
    font-size: 30px; 
    color: orange;
    background-color: #002060;
    padding: 0 10px;
    border-radius: 5px;
}
.whatfastlanes {
    height: 700px;
}
.what-img {
    display: block;
    margin: auto;
}
.what-img img{
    width: 100%;
}
.connecFastlanes {
    display: block;
    height: 700px;
    padding: 20px 0;
    background-color: #002060;
}
.connecFastlanes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.connecFastlanes-line {

}
.connecFastlanes-line img {
    display: block;
    margin: 50px auto;
    width: 320px;
    border-radius: 50px;
}
.connecFastlanes-line p {
    font-size: 30px;
    color: white;
    text-align: center;
}
.connecFastlanes-phone {
    display: block;
    margin: auto;
}
.connecFastlanes-phone p {
    font-size: 30px;
    color: white;
    text-align: center;
}




/* MyCustomer */
.MyCustomer {
	align-items: center;
	background: white;
	display: flex;
    padding: 15px 0;
	justify-content: center;
}


/* // Animation */
@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-152px * 14))}
}


/* // Styling */
.Customer-slider {
    background: white;
    /* box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125); */
    margin: auto;
    overflow:hidden;
    position: relative;
}	

.Customer-con {
    text-align: center;
    margin: 10px 0;
    color: #002060;
}
.Customer-slide-track {
    animation: scroll 10s linear infinite;     /*10s ความเร็วการเลื่อน*/
	display: flex;
    margin: 0.3rem auto;
/* //	width: calc(250px * 14);
	//animation-timing-function: steps(20 end); */
}
.Customer-slide {
    width: 100%;
    margin: auto;
    padding: 0 1px;
    position: relative;
}
.Customer-slide img{
    width: 150px;
}
.Customer-slide img:hover{
    background-color: #002060;
}
.Customer-slider:hover > div{
    animation-play-state: paused;
}
.Customer-bottom-con {
    margin: 0 auto;
    margin-bottom: 2rem;
    align-items: center;
    position: relative;
    width: 200px;
}
.Customer-bottom-con a{
    color: #002060;
    text-decoration:none;
    padding: 0;
}
.Customer-bottom-con a:hover {
    color: orange;
}
.Customer-bottom-con a p{
    text-align: center;
    font-size: 1rem;
}
.reference {
    padding-top: 30px;
}
.reference-con {
    max-width: 1280px;
}
.Customer {
    padding: 2rem 0;
}
.vendor {
    padding: 2rem 0;
}
.reference-name h1{
    color: #002060;
    text-align: center;
    font-size: 50px;
}
.reference-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-top: 3rem;
}
.reference-box {
    display: grid;
    grid-template-rows: 1fr;
    height: 150px;
}
.reference-img {
    display: block;
    /* width: 100%; */
    margin: auto;
}
.reference-img img {
    max-height: 120px;
    max-width: 100%;
    /* height: 100%; */
    /* object-fit: cover; */
}
.reference-about {
    margin: auto;
}
.reference-about h3{
    text-align: center;
    color: white;
    background-color: #002060;
    padding: 10px 15px;
    border-radius: 5px;
}


/* ข่าวสาร */
.mynews {
    padding: 2rem;
    padding-top: 70px ;
    background-color: #efefef;
}
.news {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
}
.news-con {
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}
.slide-news {
    margin: 0 30px;
    padding: 30px 0;
    overflow: hidden;
}
.card { 
    background-color: #fff;
    border-radius: 8px;
}
.logo-news {
    position: absolute;
    background-color: #002060;
    border-radius: 8px 0 8px 0;
}
.logo-news img {
    display: block;
    margin: 5px 10px;
    height: 20px;
}
.card .img-news{
    height: 200px;
}
.card .img-news img {
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    object-fit: cover;
}
.card .name-news {
    align-items: center;
    column-gap: 12px;
    padding: 15px;
    border-radius: 0 0 8px 8px;
    text-overflow: ellipsis;
}
.card .name-news:hover {
    background-color: gainsboro;
    .name{
        color: orange;
    }
}
.card .name-news .name{
    font-size: 20px;
    font-weight: 500;  
    color: #002060;
}

.card .name-news .time{
    font-size: 15px;
    font-weight: 400;
    color: grey;
}
.news-btn {

}
.news-btn a{
    display: block;
    margin: 0 auto;
    text-align: center; 
    text-decoration: none; 
    color: #002060; 
    font-size: 15px;
    width: 200px; 
}
.news-btn a:hover {
    color: orange;
}


.footer {
    background-color: #333333;
}
.footer-con {
    background-color: #333333;
    padding: 2rem 0;
}
.footer-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: auto 0;
}
.footer-box {
    padding: 20px;
}
.footer-box img {
    height: 50px; 
    justify-items: center;
}
.footer-box h2{
    color: orange;
    font-size: 15px;
}
.footer-box h3{
    color: white;
    font-size: 15px;
}
.footer-box .connec {
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.footer-box .connec a{
    display: flex;
    flex-direction: row;
    text-decoration:none;
    margin-right: 20px;
}
.footer-box .connec img{
    display: block;
    margin: auto 0;
    height: 15px;
}
.footer-box .connec h3{
    margin-bottom: 0;
    margin-left: 10px;
    color: white;
    font-size: 15px;
}
.social {
    display: flex;
    flex-direction: row;
    margin: 10px 0 ;
}
.social a{
    border-radius: 100%;
}
.social a img{
    height: 30px;
    margin-right: 10px;
}

/* Greenlogis */
.gl-top {
    width: 100%;
    min-width: 1280px;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}
.gl-cardit {
    position: absolute; 
    right: 10%;
    padding-top: 80px;
}
.carbon-credit {
    position: relative;
    background-color: #002060d2;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    text-align: center;
    padding-top: 80px;
}
.carbon-credit p {
    font-size: 25px;
    color: white;
}
.carbon-credit .pbig {
    font-size: 100px;
    color: orange;
    line-height: 120px;
}
.carbon-credit .counter {
    animation-duration: 1s;
    animation-delay: 0s;
}
.gl-what {
    padding: 30px;
    h1 {
        font-size: 50px;
        color: #002060;
    }
    h2 {
        margin-top: 20px;
        font-size: 40px;
        color: #002060;
    }
    h3 {
        margin-top: 20px;
        font-size: 25px;
        color: #002060;
    }
    p {
        font-size: 20px;
        padding: 20px 10px;
        text-align: justify;
    }
    img {
        display: block;
        margin: 20px auto;
        width: 1000px;
    }
}

.newshome {
    background-color: #efefef;
    margin-top: 70px;
    padding: 50px 0;
}
.newshome-con {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 30px;
    column-gap: 20px;
    padding: 0 40px;
}
@media and screen(max-width:1200px) {
    .newshome-con {
        grid-template-columns: 1fr 1fr;
    }
}

/* หน้าข่าวสารย่อย */
.sub-news {
    padding: 100px 30px;
    h1 {
        font-size: 50px;
        color: #002060;
    }
    h2 {
        margin-top: 20px;
        font-size: 40px;
        color: #002060;
    }
    h3 {
        margin-top: 20px;
        font-size: 25px;
        color: #002060;
    }
    p {
        font-size: 20px;
        padding: 20px 10px;
        text-align: justify;
    }
    .time {
        font-size: 20px;
        color: silver;
    }
    img {
        display: block;
        margin: 20px auto;
        height: 500px;
    }
}